* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.big-container {
  background-image: url(images/background.jpg);
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-container {
  background: linear-gradient(#ffffffde,#d3d3d3f8);
  height: 650px;
  padding: 10px;
}

.about-header {
  height: 650px;
  text-align: center;
}

.toggle-btn {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  margin-right: 30px;
}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #272a31;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.toggle-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.toggle-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background-color: #fff;
  height: 1.5px;
}

.toggle-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  background-color: #fff;
  height: 1.5px;
}

.headline-title {
  color: #ec5242;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 125px 5px 50px 15px;
}

.headline-desc {
  color: #272a31;
  padding: 15px;
  border: #fff 3px solid;
  background-color: #d3d3d3;
}

.location {
  margin-top: 40px;
  text-transform: uppercase;
}

.location h2 {
  font-size: 35px;
  color: #272a31;
  font-weight: bold;
}

.location p {
  color: #272a31;
}

.our-domains {
  background-image: url(images/background-g.jpg);
  color: #fff;
  padding: 10px;
}

.domains-title {
  text-align: center;
}

.domain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d3d3d317;
  margin: 10px;
  padding: 10px;
}

.domain:hover {
  border: #fff 2px solid;
}

.domain img {
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(255, 255, 255));
  height: 30px;
  width: 30px;
}

.separator {
  background-color: #ec5242;
  height: 1px;
  width: 55px;
  display: block;
  margin: 20px auto;
}

.domain-title {
  color: #ec5242;
  text-align: start;
  width: auto;
}

.domain-desc {
  width: 170px;
  font-size: 13px;
}

.button {
  color: #fff;
  background-color: #ec5242;
  width: 70%;
  height: 55px;
  margin: 20px 15%;
  border: 0;
}

.artists {
  display: grid;
  grid-gap: 20px;
  padding: 15px;
}

.artists-title {
  text-align: center;
  color: #272a31;
  margin-top: 50px;
  
}

.artist {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.artist-image {
  width: 90px;
  margin: 15px;
}

.separator2 {
  background-color: #444953;
  height: 1px;
  width: 25px;
  display: block;
  margin: 8px 0;
}

.artist-name {
  font-size: 18px;
  color: #272a31;
}

.job-desc {
  color: #ec5242;
  font-style: italic;
  font-size: 12px;
}

.artist-desc {
  font-size: 15px;
  color: #444953;
}

.about-headline-title {
  text-align: center;
}

.about-headline-desc {
  text-align: center;
  background-color: #fff;
}

.partners {
  background-color: #272a31;
  padding: 30px;
}

.partners-title {
  text-align: center;
  color: #fff;
}

.partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner img {
  height: 50px;
  width: 33.3333%;
  padding: 10px;
}

.logo-history-section {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  border-bottom: #d3d3d3 1px solid;
}

.logo-history-title {
  color: #272a31;
}

.logo-history-desc {
  color: #444953;
  font-weight: 600;
  font-size: 15px;
}

.logo-desc-img {
  width: 95%;
  border: #d3d3d3 1px solid;
  margin-top: 30px;
}

.past-concerts {
  margin: 30px;
}

.concerts-title {
  color: #272a31;
  text-align: center;
}

.concerts-desc {
  color: #444953;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.concert {
  margin: 20px;
  position: relative;
}

.concert-img {
  width: 100%;
}

.concert-desc {
  position: absolute;
  top: 0;
  padding-top: 30%;
  background-color: #ec534279;
  color: #fff;
  width: 100%;
  text-align: center;
  height: 99.9%;
}

footer {
  display: flex;
  align-items: center;
  color: #444953;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-bar.active {
  display: flex;
  background-color: #444953e7;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list {
  margin-top: 30px;
  display: none;
  flex-direction: column;
  text-align: left;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list.active {
  display: flex;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
  width: 100%;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

.nav-list li a:hover {
  color: #ec5242;
}

.logo, .nav-btn {
  display: none;
}

footer img {
  width: 50%;
}

.see-domains {
  display: none;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
  
  .logo, .nav-btn {
    display: block;
  }

  .desktop {
    display: block;
  }

  .header-container {
    padding: 20px 10%;
  }

  .header {
    height: 50px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    width: 100%;
    height: 12vh;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: end;
    align-items: center;
  }

  .nav-list li {
    list-style: none;
    display: inline-block;
    width: auto;
    padding-left: 30px;
  }

  .nav-list li a {
    text-decoration: none;
    color: #444953;
    font-weight: 600;
    font-size: 13px;
  }

  .nav-list li a:hover {
    color: #ec5242;
  }

  .logo {
    height: 80px;
  }

  .nav-btn {
    margin: 0;
    padding: 5px;
    margin-left: 50px;
    width: 15%;
    height: 30px;
    background-color: #ffffff00;
    color: #ec5242;
    border: #ec5242 4px solid;
  }

  .nav-btn:hover {
    margin: 0;
    width: 15%;
    margin-left: 50px;
    height: 30px;
    background-color: #ec5242;
    color: #fff;
    border: #ec5242 4px solid;
  }

  .headline {
    margin-right: 30%;
  }

  .about-headline {
    margin-right: 0;
    margin: 30px;
    text-align: center;
  }

  .domains {
    display: flex;    
    padding: 10px 10%;
  }

  .domain {
    flex-direction: column;
    width: 20%;
    margin: 1px;
    text-align: center;
  }

  .domain:hover {
    border: #fff 1px solid;
  }

  .domains-title {
    margin-top: 30px;
  }

  .domain-desc {
    width: auto;
    font-size: 13px;
}

.see-domains {
  text-align: center;
  color: #fff;
  margin: 30px auto;
  display: block;
}

.button {
  display: none;
}

.our-artists {
  padding: 10px 10%;
}

.artists {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.partners {
  padding: 30px 10%;
}

.partner {
  flex-wrap: nowrap;
}

.logo-history-desc {
  margin: 10px 20%;
}
 .concerts {
  display: flex;
  justify-content: center;
 }

 .concert-img {
  height: 250px;
 }
footer img {
  width: 30%;
}

}