* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.contact-bar {
  display: none;
}

.big-container {
  background-image: url(images/background.jpg);
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-big-container {
  height: 770px;
}

.header-container {
  background: linear-gradient(#ffffffde, #d3d3d3f8);
  height: 650px;
}

.about-header-container {
  height: 770px;
}

.about-header {
  height: 650px;
  text-align: center;
}

.toggle-btn {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  margin-right: 30px;
}

.bar {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #272a31;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.toggle-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.toggle-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background-color: #fff;
  height: 1.5px;
}

.toggle-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  background-color: #fff;
  height: 1.5px;
}

.headline {
  padding: 125px 5%;
}

.first-title {
  color: #ec5242;
  font-size: 25px;
  margin-bottom: 20px;
}

.about-title {
  text-align: center;
}

.headline-title {
  color: #ec5242;
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.headline-desc {
  color: #5f6164;
  font-size: 13px;
  font-weight: 700;
  padding: 15px;
  border: #fff 3px solid;
  background-color: #e6e6e6;
  line-height: 30px;
}

.location {
  margin-top: 40px;
  text-transform: uppercase;
}

.about-location {
  text-align: center;
}

.location h2 {
  font-size: 35px;
  font-weight: 900;
  color: #5f6164;
}

.location p {
  color: #5f6164;
}

.our-domains {
  background-image: url(images/background-g.jpg);
  color: #fff;
  padding: 10px;
}

.domains-title {
  text-align: center;
}

.domain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #d3d3d317;
  margin: 10px;
  padding: 10px;
}

.domain:hover {
  border: #fff 2px solid;
}

.domain img {
  filter: opacity(0.6) drop-shadow(0 0 0 rgb(255, 255, 255));
  height: 30px;
  width: 30px;
}

.separator {
  background-color: #ec5242;
  height: 1px;
  width: 30px;
  display: block;
  margin: 15px auto;
}

.domain-title {
  color: #ec5242;
  text-align: start;
  width: auto;
}

.domain-desc {
  width: 170px;
  font-size: 13px;
}

.button {
  color: #fff;
  background-color: #ec5242;
  width: 70%;
  height: 55px;
  margin: 20px 15%;
  border: 0;
  cursor: pointer;
}

.artists {
  display: grid;
  grid-gap: 20px;
  padding: 15px;
}

.artists-title {
  text-align: center;
  color: #272a31;
  margin-top: 50px;
}

.artist {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.artist-image {
  width: 100px;
  height: 100px;
  margin: 15px;
  padding: 10px;
  background-image: url(images/box-black.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-size: 30px 30px;
}

.separator2 {
  background-color: #83878fef;
  height: 1px;
  width: 15px;
  display: block;
  margin: 8px 0;
}

.artist-name {
  font-size: 18px;
  color: #272a31;
}

.job-desc {
  color: #ec5242;
  font-style: italic;
  font-size: 12px;
}

.artist-desc {
  font-size: 15px;
  color: #444953;
}

.about-headline-title {
  text-align: center;
}

.about-headline-desc {
  text-align: center;
  background-color: #fff;
  font-size: 12px;
}

.partners {
  background-color: #272a31;
  padding: 30px;
}

.partners-title {
  text-align: center;
  color: #fff;
}

.partner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner img {
  height: 50px;
  width: 33.3333%;
  padding: 10px;
}

.logo-history-section {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  border-bottom: #d3d3d3 1px solid;
}

.logo-history-title {
  color: #272a31;
}

.logo-history-desc {
  color: #444953;
  font-weight: 600;
  font-size: 15px;
}

.logo-desc-img {
  width: 95%;
  height: 150px;
  border: #d3d3d3 1px solid;
  margin-top: 30px;
}

.past-concerts {
  margin: 30px;
}

.concerts-title {
  color: #272a31;
  text-align: center;
}

.concerts-desc {
  color: #444953;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.concert {
  margin: 20px;
  position: relative;
  z-index: -1;
}

.concert-img {
  width: 100%;
}

.concert-desc {
  position: absolute;
  top: 0;
  padding-top: 30%;
  background-color: #ec534279;
  color: #fff;
  width: 100%;
  text-align: center;
  height: 99.9%;
}

footer {
  display: flex;
  align-items: center;
  color: #444953;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  padding-top: 20px;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-bar.active {
  display: flex;
  background-color: #444953e7;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list {
  margin-top: 30px;
  display: none;
  flex-direction: column;
  text-align: left;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list.active {
  display: flex;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
  width: 100%;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}

.nav-list li a:hover {
  color: #ec5242;
}

.logo,
.nav-btn {
  display: none;
}

.see-domains {
  display: none;
}

.desktop {
  display: none;
}

.footer-image {
  width: 50%;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .contact-bar {
    background-color: #333741;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10%;
    font-size: 12px;
  }

  .contact-bar > * {
    margin-left: 20px;
    cursor: pointer;
  }

  .contact-bar img {
    height: 20px;
  }

  .logo,
  .nav-btn {
    display: block;
  }

  .desktop {
    display: block;
  }

  .header {
    height: 50px;
  }

  .headline {
    margin-top: 80px;
    margin-right: 30%;
    padding: 0 10%;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: relative;
    width: 100%;
    height: 12vh;
    background-color: #fff;
    border-bottom: #d3d3d3 1px solid;
    box-shadow: 10px 1px 15px #808080;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: end;
    align-items: center;
  }

  .nav-list li {
    list-style: none;
    display: inline-block;
    width: auto;
    padding-left: 30px;
  }

  .nav-list li a:link,
  .nav-list li a:visited {
    text-decoration: none;
    color: #646a79;
    font-weight: 700;
    font-size: 15px;
  }

  .nav-list li a:hover {
    color: #ec5242;
  }

  .nav-list li a.current:link,
  .nav-list li a.current:visited {
    color: #ec5242;
  }

  .logo {
    height: 80px;
  }

  .nav-btn {
    margin: 0;
    padding: 5px;
    font-weight: 700;
    margin-left: 50px;
    width: 15%;
    height: 45px;
    background-color: #fff0;
    color: #ec5242;
    border: #ec5242 5px solid;
  }

  .nav-btn:hover {
    margin: 0;
    width: 15%;
    height: 45px;
    margin-left: 50px;
    background-color: #ec5242;
    color: #fff;
    border: #ec5242 4px solid;
  }

  .about-headline {
    margin: 60px auto 10px;
    text-align: center;
    width: 70%;
  }

  .domains {
    display: flex;
    padding: 10px 10%;
  }

  .domain {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 3fr;
    justify-items: center;
    height: 200px;
    width: 20%;
    margin: 1px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .domain:hover {
    border: #fff 1px solid;
  }

  .domains-title {
    margin-top: 30px;
  }

  .domain-desc {
    width: auto;
    font-size: 13px;
  }

  .see-domains {
    text-align: center;
    color: #fff;
    margin: 30px auto;
    display: block;
  }

  .button {
    display: none;
  }

  .our-artists {
    padding: 10px 10%;
  }

  .artists {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .partners {
    padding: 30px 10%;
  }

  .about-partners {
    display: none;
  }

  .partner {
    flex-wrap: nowrap;
  }

  .partner img {
    margin: 0 20px;
    padding: 0;
    height: 25px;
    width: auto;
  }

  .logo-history-desc {
    margin: 10px 20%;
  }

  .concerts {
    display: flex;
    justify-content: center;
  }

  .concert-img {
    height: 250px;
  }

  .about-footer {
    background-color: #272a31;
    color: #fff;
  }

  #footer-image {
    width: 30%;
  }
}
